.root{
   -fx-font-size: 10px;
}
.TableColumn{
    -fx-font-size: 50px;
}
.label{
    -fx-font-size: 20px;
}

.bigButton{
    -fx-font-size: 50px;
}

#changeView{
    -fx-background-color: yellow;
}

.table-view{
    -fx-font-size: 20px;
}
